.Page {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    gap: 2rem;
    padding: 2rem;
    height: 80vh;
}

.Image{
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .Page {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 1rem;
        gap: 0.5rem;
    }

    .Image{
        width: 100%;
        height: auto;
    }
}
