.PageContact{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    padding: 10vh;
}

.ContactBox{
    height: 60vh;
    width: 40vw;
    animation: fadeInScale 0.8s ease-in-out;
}
.ContactTitle{
    margin: 0px;
    padding-bottom: 10px;
}

.ContactItem{
    color: var(--dark-gray);
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}


h4, .Icon{
    color: var(--gray);
}

.Link{
    width: 80%;
    display: flex;
    justify-content: center;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 560px) {
    .PageContact {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding:10px;
        align-items: center;
    }

    .ContactBox{
        height: 60vh;
        width: 90%;
    }

    .ContactItem{
        flex-direction: column;
    }
    .ContactItem > h3{
        font-size: 1rem;
    }

}
