.PageProjects {
    width: 97%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 1rem;
    place-items: center;
}

.BoxProject {
    height: 20rem;
    width: 100%;
    padding: 4px;
    cursor: pointer;
}

.Description {
    color: 'var(--gray)';
    background-color: black;
    width: 100%;
    position: absolute;
    height: 20%;
    display: grid;
    place-items: center;
}

@media (max-width: 960px) {
    .PageProjects {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        place-items: center;
    }
}

@media (max-width: 660px) {
    .PageProjects {
        grid-template-columns: repeat(2, 1fr);
    }

    .BoxProject {
        height: 20rem;
        width: 90%;
        padding: 4px;
    }
}

@media (max-width: 560px) {
    .PageProjects {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 10px;
        align-items: center;
    }
}