.PageCertificate{
    width: 97%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.BoxCertificate{
    height: 15rem;
    width: 15rem;
    padding: 4px;
    cursor: pointer;
}

.CertificateImage{
    width: 100%;
}


@media (max-width: 960px) {
    .PageCertificate {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 660px) {
    .PageCertificate {
        grid-template-columns: repeat(2, 1fr);
    }

    .BoxCertificate{
        height: 15rem;
        padding: 4px;
    }
}

@media (max-width: 560px) {
    .PageCertificate {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
    }
}
