.PageCertificate{
    width: 97%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.BoxCertificate{
    height: 15rem;
    width: 15rem;
    padding: 4px;
    cursor: pointer;
    animation: slideUp 0.8s ease-in-out;
}

.CertificateImage{
    width: 100%;
}

.CertificateImageModal{
    width: auto;
    height: 100%;
}


@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 960px) {
    .PageCertificate {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 660px) {
    .PageCertificate {
        grid-template-columns: repeat(2, 1fr);
    }

    .BoxCertificate{
        height: 15rem;
        padding: 4px;
    }
}

@media (max-width: 560px) {
    .PageCertificate {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
    }
}
