.ModalContainer {
    width: 100vw;
    height: 97vh;
    border: solid 1px var(--gray);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: unset;
    background-color: var(--bg-green-color);
}

.ContentContainer {
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ButtonArea {
    height: 10%;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 4px;
}

.CloseButton {
    background-color: var(--primary-color);
    width: 10rem;
}

@media (max-width: 660px) {
    .ModalContainer {
        justify-content: flex-start;
    }
}