.ModalContainer  {
    width: 60vw;
    height: 60vh;
    border: solid 1px var(--gray);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: unset;
    background-color: rgba(255, 255, 255, 0.533);

    /* -webkit-box-shadow: 6px 7px 26px -7px var(--gray);
    -moz-box-shadow: 6px 7px 26px -7px var(--gray);
    box-shadow: 6px 7px 26px -7px var(--gray);
    transition: 0.5s; */
}

.ContentContainer{
    /* height: 90%; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ButtonArea{
    height: 10%;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 4px;
}

.CloseButton{
    background-color: var(--primary-color);
    width: 10rem;
}