.ModalContainer {
    width: 70vw;
    height: 80vh;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ContentContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ButtonArea {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 4px;
}

.CloseButton {
    width: 10rem;
    border: 1px solid var(--gray);
    color: var(--gray);
}

.CloseButton :hover {
    width: 10rem;
    border: 1px solid var(--blue);
    color: var(--blue);
}


@media (max-width: 966px) {
    .ModalContainer {
        width: 100vw;
        padding: 1rem;
    }

}