.HeaderContainer{
    display: grid;
    padding: 0.5rem 5rem;
}

.Title {
    font-size: 1.3rem;
    height: 1.3rem;
    padding: 1rem 2rem;
    color:var(--blue);
    transition: 0.5s;
}

.Title:hover{
    color:var(--gray);
    transition: 0.5s;
}

@media (max-width: 966px) {
    .HeaderContainer{
        grid-template-columns: 1fr;
    }

}

@media (max-width: 200px) {
    .HeaderContainer {
        padding: 0% ;
        display: flex;
        justify-items: center;
        align-items: center; 
    }
}