.Navbar {
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.NavItem {
    color: var(--gray);
    transition: 0.5s;
    font-size: 1.2rem;
}

.NavItem:hover {
    color: var(--green);
    transition: 0.5s;
}

.hamburger-button {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
}

.NavBarMobile{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.hamburger-button {
    display: none;
}


@media (max-width: 966px) {
    .menu {
        display: none;
    }

    .hamburger-button {
        display: block;
        color: var(--white);
        background-color: var(--bg-color);
    }
    
    .hamburger-button {
        display: block;
        color: var(--gray);
    }

    .Navbar {
        display: none;
        flex-direction: column;
    }
    
    .HeaderContainer{
        grid-template-columns: 1fr;
    }

    .NavBarMobile{
        flex-direction: column;
        display: flex;
        gap: 2rem;
        padding: 6rem 0px;
    }
    
}


@media (max-width: 200px) {
    .HeaderContainer {
        padding: 0% ;
        justify-items: center;
        align-items: center; 
    }

    .hamburger-button {
        display: block;
    }
    .Navbar {
        flex-direction: column;
    }
}