.HeaderContainer{
    display: grid;
    grid-template-columns: auto 1fr; 
    padding: 1rem 5rem;
}

.Navbar {
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.NavItem{
    color:var(--gray);
    transition: 0.5s;
    font-size: 1.2rem;
}

.NavItem:hover{
    color:green;
    transition: 0.5s;
}

/* Defina estilos para o botão de hamburger */
.hamburger-button {
    display: block; /* Exibe o botão de hamburger por padrão */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    color: white;
    position: absolute;
    top: 10px; /* Ajuste a posição vertical conforme necessário */
    right: 20px; /* Ajuste a posição horizontal conforme necessário */
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px; /* Ajuste a margem conforme necessário */
    text-align: center; /* Centralize o conteúdo do menu */
}

/* Ocultar o menu em telas maiores e mostrar o botão de hamburger */
@media (min-width: 768px) {
    .menu {
        display: none;
    }

    .hamburger-button {
        display: none;
    }

    
}

@media (max-width: 767px) {
    .menu {
        display: none; 
        position: absolute;
        top: 60px;
       
    }
}