.SkillsPage {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    min-height: 80vh;
    padding: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SkillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.SkillBox {
    min-height: 20rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 560px) {
    li {
        font-size: 0.8rem;
    }
}