.SkillsPage {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SkillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.SkillBox {
    min-height: 20rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SkillTitlePage{
    margin: 0px;
}
.SkillList{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.SkillList > li{
    margin-left: 1rem;
}

@media (max-width: 560px) {
    li {
        font-size: 0.8rem;
    }

    .SkillsContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .SkillBox{
        width: 90%;
        min-height: 12rem;
    }

    .SkillTitle{
        margin: 0px;
    }
}