.PageTraining{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    min-height: 80vh;
    padding: 10vh;
    flex-direction: column;
}

h4, h5, h6{
    margin: 2px;
}

.TrainingBox{
    height: 60vh;
    width: 60vw;
    display: flex;
    align-items: center;
}

.TrainingList{
    color: var(--gray);
    display:  flex;
    flex-direction: column;
    list-style: disc;
    color: var(--gray);
}

.TrainingItem{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.TrainingCompany{
    font-size: 1.5rem;
}

.TrainingName{
    font-size: 1rem;
}

.TrainingDate{
   font-size: 0.5rem;
}


@media (max-width: 560px) {
    .PageTraining {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding:10px;
        align-items: center;
    }

    .TrainingBox{
        height: 60vh;
        width: 60vw;
        display: flex;
        align-items: center;
    }
    
    .TrainingList{
        color: var(--gray);
        display:  flex;
        flex-direction: column;
        list-style: disc;
        color: var(--gray);
    }
    
    .TrainingItem{
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .TrainingCompany{
        font-size: 1rem;
    }
    
    .TrainingName{
        font-size: 0.8rem;
    }
    
    .TrainingDate{
       font-size: 0.5rem;
    }
    
}
